/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	color: #000000;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
}

.logo-instagram {
	width: 20px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.portfolio-heading {
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 140px 0 60px 0;
	gap: 50px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border:none;
}

/** Bandeau mode édition après connexion **/
#mode-edition {
	background-color: black;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	justify-content: center;
	align-items: center;
	color: white;
	display: none;
	gap: 10px;
}
.mode-edition-icon {
	color: white;
}
.mode-edition p {
	font-weight: 400;
	font-size: 16;
}

/** Bouton modifier  **/
#editbtn {
	gap: 10px;
	display: none;
}
#edit {
	cursor: pointer;
}


/** Barre de filtres **/
.filters {
	text-align: center;
	margin-bottom: 50px;
	
}
.filters button {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color:#1D6154; 
	background-color: #fffef8;
	border: 1px solid #1D6154;
	border-radius: 50px;
	padding: 8px 20px 8px 20px;
	margin-left: 10px;
}

.filterbtn:hover {
	background-color: #1D6154;
	color: #fffef8;
}


/**Login Form**/

/** Message d'erreur **/ 
#error-message {
	color: #B1663C;
	font-size: 16px;
	font-weight: 600;
	display:none;
	margin-top: 35px;
}

#login {
	width: 50%;
	margin: auto;
	padding-top: 110px;
	padding-bottom: 180px;
}
#login > * {
	text-align: center;
}
#login h2 {
	margin-bottom: 20px;
}
#login form {
	display: flex;
	flex-direction: column;
	text-align: left;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login a {
	margin: auto;
	color: black;
}

/**Modale**/ 
.modal-wrapper {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.39);
	justify-content: center;
	align-items: center;
}

.modal-principale, .modal-secondaire {
	width: 25%;
	height: 65%;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px 100px;
}

.modal-secondaire {
	display :none;
}

.close-btn, .return-back-arrow, .close-btn-2nd-modal {
	font-size: 20px;
	cursor: pointer;
	position:absolute;
	top: 40px;
}
.return-back-arrow {
	left: 40px
}
.close-btn, .close-btn-2nd-modal {
	right: 40px;
}

.work-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	margin-top: 60px;
	justify-content: center;

}
.work-modal img {
	height: 100px;
}
.work-modal span {
	background-color: #000;
	color: white;
	padding: 5px;
	position: relative;
	left: 63%;
	top: 20%;
	border-radius: 3px;
	font-size: 10px;
	cursor: pointer;
}

.img-icon {
	font-size: 60px;
	color: #B9C5CC;
}
	/*



	bottom: 77%;*/


.btn-wrapper {
	display: flex;
	justify-content: center;
}
.modal-principale-btn {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #1d6154;
	color: #fff;
	font-family: Syne;
	font-size: 14px;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-top: 30px;
  }
.close-modal-secondaire {
	position: absolute;
	right: 25px;
	top: 5%;
	cursor: pointer;
}
.modal-secondaire-title {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
}
.case {
	background-color: #e8f1f6;
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.content-preview {
	display: none;
	text-align: center;
	margin-bottom: 10px;
	background-color: #e8f1f6;
	margin-bottom: 10px;
	height: 170px;
}
.case label {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #306685;
	border-radius: 50px;
	background-color: #cbd6dc;
	border: none;
	width: 173px;
	height: 36px;
}
.case input {
	display: none;
}
.case p {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
.case img, .content-preview img {
	width: 129px;
	height: 100%;
}
.form-photo {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.stroke {
	width: 420px;
	height: 1px;
	background-color: #b3b3b3; 
}
.form-photo label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-photo input, select {
  width: 420px;
  height: 51px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}
.form-photo #submit-img-btn {
	width: 233px;
	height: 36px;
	border-radius: 60px;
	background: #a7a7a7;
}
/**Modale**/ 



/** Modale 
#container-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.works-modal {
	background-color: #b3b3b3;
	width: 70%;
	height: 60%;
}
.stroke {
	height: 1px;
	width: 60%;
	background-color: #b3b3b3; 
}
.add-btn {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color:#fffef8; 
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 50px;
	padding: 8px 20px 8px 20px;
	margin-left: 10px;
}
.add-btn:hover {
	background-color: white;
	color: #1d6154;
}
.close-btn, .go-back-arrow {
	position: absolute;
	top: 40px;
	font-size: 20px;
	cursor: pointer;
}
.close-btn {
	right: 40px;
}
.go-back-arrow {
	left: 40px;
}
.add-work-block {
	background-color: #E8F1F6;
	height: 160px;
}
#add-work-btn {
	background-color: #CBD6DC;
}
#add-work-form {
	display: flex;
	flex-direction: column;
	width: 60%;
}
#title, #categorie {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#add-work-form label {
	margin: 20px 0 10px 0;
}
**/



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

